@{
    ViewData["Title"] = "Privacy Policy:";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />

<p>There is no privacy. <br/> We collect all the data.</p>
<br/>
<p>To learn more please watch <a href="https://www.youtube.com/watch?v=4t7BgyA7IOI&ab_channel=10HoursMovies">this</a> informational video. It should explain everything. </p>